html
  transition: all 2s

body
  font: 16px "Arial", Arial
  line-height: 1.1em
  font-weight: normal
  margin: 0
  padding: 0
  letter-spacing: .4px

  *
    margin: 0
    letter-spacing: .4px

a:focus, input:focus, button:focus, textarea:focus
  outline: none

.App
  min-height: 100vh
  position: relative

.header
  display: flex
  flex-wrap: nowrap
  justify-content: center
  align-items: center
  align-content: space-between
  position: sticky
  width: 100%
  top: 0
  z-index: 999
  background: #ffffff
  padding: 0.25em 0.1em
  
.add-shadow
  box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px

.logo
  padding: 4px 16px
  font-size: 1.3em
  color: gray
  display: flex
  h1
    font-size: 1.45em
    color: gray
    display: inline
    padding: 0 8px
    font-weight: bold
    font-family: 'Yeon Sung', cursive;

.logo-img
  width: 36px

.custom-row
  //common styles
      
.custom-row-3
  column-count: 3

.custom-row-2
  column-count: 2

.custom-row-1
  column-count: 1
  
.row-item
  break-inside: avoid
  page-break-inside: avoid
  will-change: transform
  &:first-child
    transform: translateY(-0.5em)

.logo-author
  font-size: 11px
  white-space: nowrap
  font-family: 'Yeon Sung', cursive;
  display: flex
  align-items: flex-end

  a
    color: lightgray
    cursor: pointer
    &:hover
      color: gray
      text-decoration: none

  &:hover + .social
    opacity: 1

  @media (max-width: 415px)
    display: none


.social
  align-self: center
  height: 100%
  font-size: 1em
  padding: 0.2em
  opacity: 0
  transition: opacity 0.3s
  a
    margin: 0 6px
    opacity: 0.65
    transition: all 0.4s
    &:hover
      opacity: 1
  &:hover
      opacity: 1
  @media (max-width: 415px)
    font-size: 0.5em

.github
  color: #2e3c49

.linkedin
  color: #0077b5

.twitter
  color: #1da1f3

.globe
  color: #dc4538


.stretch
  flex-grow: 2

.view-btn
  button
    background: transparent
    border: none
    color: lightgray
    position: relative
    top: 3.5px
    left: -6px  
    &:hover
      color: #FFE98F 
    &:active
      color: #FFDA44

.credit
  opacity: 0.4
  font-size: 9px
  position: absolute;
  bottom: 0

.btn-custom
  font-size: 12px
  border-radius: 25px
  padding: 0.25em 1em